@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400&display=swap');


body {
    background-color: rgb(155, 7, 185);
}

.CalendarAnimation {
    width: 90px;
    margin: .5em 0 0 0;
}

.FlexiShift {
    margin: 1em .2em 0 0;
}

.Nav {
    text-align: center;
    font-family: "Martian-Mono", monospace;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.IndexContainer {
    color: white;
}

.Form{
    padding: 1em;
    border: none;
    margin: 2em;
    background-color: rgb(233, 120, 40);
    border-radius: 20px;
  
}

.ShiftForm {
   margin: 0 0 1em 0;
   
}

.NameContainer {
    margin: .5em 0 2em 0
}

.NameBox {
    margin: 0 1em 0 0;
}

.PositionContainer, .TimeContainer {
    margin: 0 0 2em 0;
}

.Position, .Start {
    margin: 0 .3em 0 0;
}

.Date, .End {
    margin: 0 .3em 0 1em;
}

.Add, .Delete, .Update, .Home {
    border-radius: 10px;
    border: none;
    padding: .5em;
    cursor: pointer;
}

.Update, .Delete, .Home {
    margin: 1em 0 1em 0;

}

.Add {
    background-color: rgb(238, 9, 124);
}

.ShowContainer {
    display: flex;
    justify-content: space-between;
    margin: 3em;
}

.ShowHeader {
    // display: flex;
    // justify-content: space-between;
    margin: 1em;
}

.ShowInfo, .UpdateForm {
    margin: 1em;
}

.ClockAnimation {
    width: 10em;
    margin: 1.5em;
}

.EmployeeShifts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    // margin: .5em 0;
}

.ShiftList {
    border: none;
    background-color: rgb(233, 120, 40);
    border-radius: 20px;
    margin: 1em 2em;
}