@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400&display=swap');


body {
    background-color: rgb(67, 101, 97);
}

.CalendarAnimation {
    width: 30vw;
}

.Nav {
    text-align: center;
    font-family: "Martian-Mono", monospace;
    font-size: 3em;
}

.Form{
    padding: 1em;
    border: 1px solid black;
    margin: 2em;
}

.ShiftForm {
   margin: 0 0 1em 0;
}

.NameContainer {
    margin: .5em 0 2em 0
}

.NameBox {
    margin: 0 1em 0 0;
}

.PositionContainer, .TimeContainer {
    margin: 0 0 2em 0;
}

.Position, .Start {
    margin: 0 .3em 0 0;
}

.Date, .End {
    margin: 0 .3em 0 1em;
}

.Add, .Delete, .Update, .Home {
    border-radius: 10px;
    border: none;
    padding: .5em;
    cursor: pointer;
}

.Update, .Delete, .Home {
    margin: 1em 0 1em 0;

}

.ShowHeader {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.ShowInfo, .UpdateForm {
    margin: 1em;
}

.EmployeeShifts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    margin: .5em 0;
}
